@font-face {
  font-family: "bangersregular";
  src: url("../assets/fonts/bangers-regular-webfont.woff2") format("woff2"),
    url("../assets/fonts/bangers-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotoblack";
  src: url("../assets/fonts/roboto-black-webfont.woff2") format("woff2"),
    url("../assets/fonts/roboto-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotoblack_italic";
  src: url("../assets/fonts/roboto-blackitalic-webfont.woff2") format("woff2"),
    url("../assets/fonts/roboto-blackitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotoitalic";
  src: url("../assets/fonts/roboto-italic-webfont.woff2") format("woff2"),
    url("../assets/fonts/roboto-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotolight";
  src: url("../assets/fonts/roboto-light-webfont.woff2") format("woff2"),
    url("../assets/fonts/roboto-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotolight_italic";
  src: url("../assets/fonts/roboto-lightitalic-webfont.woff2") format("woff2"),
    url("../assets/fonts/roboto-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotoregular";
  src: url("../assets/fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("../assets/fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto_monoregular";
  src: url("../assets/fonts/robotomono-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/robotomono-variablefont_wght-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "bangersregular";
  color: yellow;
  -webkit-text-stroke: 2px blue;
  font-size: 45pt;
  text-align: center;
}
