header {
  z-index: 20;
  background-color: var(--bg-200);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  box-shadow: 1px 1px 6px #8596a65b;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 90px;
  padding: 0px 50px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: var(--bg-800);
}

.header-content {
  display: flex;
  width: 100%;
  height: 90px;
  max-width: 1440px;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-logo {
  width: 90px;
  height: 90px;
}

.menu-logo {
  width: 40px;
  height: 40px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
