.overlay-content {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.nav-icon {
  width: 50px;
  height: 50px;
}

.nav-icon:hover {
  width: 60px;
  height: 60px;
}

.poke-detail-container {
  z-index: 40;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 35%;
  height: 90%;
  border-radius: 30px;
  background-color: white;
}

.poke-detail-bg {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: top;
  width: 100%;
  height: 260px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.poke-detail-id {
  font-family: "roboto_monoregular";
  font-size: 75pt;
  color: #ffffff39;
}

.poke-detail-img-box {
  z-index: 50;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -250px;
}

.poke-detail-img {
  width: 50%;
  object-fit: contain;
}

.poke-detail-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: top;
  justify-content: top;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: white;
  margin-top: -50px;
  padding-top: 30px;
}

.poke-details-type-row {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin: 10px 0px 30px 0px;
}

.poke-detail-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.poke-tabs {
  width: 100%;
  height: 375px;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  overflow: scroll;
  margin: 0px;
}

.poke-tabs button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  font-family: "robotoblack";
  color: var(--bg-800);
  font-size: 12pt;
  text-align: center;
  border-top: 1px solid var(--bg-800);
  border-bottom: 1px solid var(--bg-800);
  border-radius: 0px;
  background-color: white;
  margin: 0px;
}

.poke-tabs button.active {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  font-family: "robotolight";
  color: var(--bg-500);
  font-size: 12pt;
  text-align: center;
  background-color: var(--bg-200);
  cursor: pointer;
  border-bottom: 1px solid var(--bg-800);
  border-radius: 0px;
}

.button:hover {
  font-family: "robotoblack";
  color: var(--bg-800);
}

.tab-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: top;
  padding: 10px 60px 10px 60px;
}

table {
  width: 100%;
}

tr {
  height: 35px;
}

td:first-child {
  width: 30%;
  text-align: start;
  font-size: 12px;
  font-family: "robotolight", sans-serif;
  color: var(--bg-500);
  text-transform: uppercase;
}

td {
  width: 70%;
  text-align: start;
  font-size: 14pt;
  font-family: "roboto_monoregular", sans-serif;
  color: var(--bg-800);
}

.stats-row {
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: flex-start;
  justify-content: space-between;
}

.stats-progress {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
}

progress {
  border: none;
  width: 200px;
  height: 10px;
}

progress::-webkit-progress-bar {
  border-radius: 10px;
  background-color: var(--bg-200);
}
progress::-webkit-progress-value {
  border-radius: 10px;
  background-color: var(--accent);
}

.nav-row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.nav-row button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  flex: 1;
  margin-bottom: 30px;
  border-radius: 0px;
  background-color: white;
}
