* {
  scroll-behavior: smooth;
  margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-200);
  font-family: "robotoregular";
}

header {
  background-color: var(--bg-200);
  display: flex;
  position: sticky;
  height: 90px;
  align-items: center;
  justify-content: space-between;
}

main {
  width: 100vw;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  background-color: var(--bg-800);
  text-align: center;
}

footer {
  background-color: white;
  display: flex;
  width: 100%;
  bottom: 0px;
  height: 90px;
  align-items: center;
  justify-content: space-between;
}

button {
  font-family: "robotoblack";
  background-color: var(--accent);
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 20pt;
  padding: 10px 30px;
  margin: 30px 0px 60px 0px;
}
