* {
  scroll-behavior: smooth;
  margin: 0px;
}

body {
  background-color: var(--bg-200);
  font-family: "robotolight";
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  text-align: center;
  padding: 0px 50px 0px 50px;
}

button {
  font-family: "robotoblack";
  background-color: var(--accent);
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 20pt;
  padding: 10px 30px;
  margin: 30px 0px 60px 0px;
  cursor: pointer;
}

input {
  height: 40px;
  width: 400px;
  font-family: "robotolight";
  font-size: 12pt;
  border-top-left-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 0px;
  background-color: white;
  border: none;
  padding: 0px 20px;
  color: black;
}

button:hover {
  background-color: var(--accent-hover);
}

::placeholder {
  color: var(--bg-500);
}

.hidden {
  display: none !important;
}

.header-img {
  display: flex;
  height: 600px;
  background-image: url(../assets/pokedex_header.jpg);
  background-position: center;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  opacity: 0.3;
}

.top-section {
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 600px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.btn-search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 60px;
  border-top-left-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 20px;
  margin: 0px;
  color: white;
}

.icon-search {
  width: 30px;
  height: 30px;
}

.overlay {
  z-index: 30;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: #131c23bc;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
}
