* {
  scroll-behavior: smooth;
  margin: 0px;
}

body {
  background-color: var(--bg-200);
  font-family: "robotolight";
  position: relative;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

button {
  font-family: "robotoblack";
  background-color: var(--accent);
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 20pt;
  padding: 10px 30px;
  margin: 30px 0px 60px 0px;
  cursor: pointer;
}

input {
  height: 40px;
  width: 400px;
  font-family: "robotolight";
  font-size: 12pt;
  border-top-left-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 0px;
  background-color: white;
  border: none;
  padding: 0px 20px;
  color: black;
}

button:hover {
  background-color: var(--accent-hover);
}

a {
  color: var(--accent);
}

::placeholder {
  color: var(--bg-500);
}

.hidden {
  display: none !important;
}

.no-scroll {
  overflow: hidden;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  text-align: center;
  padding: 0px 50px 0px 50px;
}

.header-img {
  display: flex;
  width: 100%;
  height: 400px;
  background-image: url(../assets/pokedex_header.jpg);
  background-position: center;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  opacity: 0.3;
}

.top-section {
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 400px;
  padding-top: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.search-result {
  margin-top: 60px;
}

.btn-search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 60px;
  border-top-left-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 20px;
  margin: 0px;
  color: white;
}

.icon-search {
  width: 30px;
  height: 30px;
}

.overlay {
  z-index: 30;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: #131c23bc;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
}

.loader {
  border: 16px solid var(--bg-200);
  border-top: 16px solid var(--accent);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0px 0px 60px 0px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1440px) {
  .main-content {
    max-width: 1000px;
    padding: 0px 50px 0px 50px;
  }
}

@media (max-width: 1000px) {
  .main-content {
    max-width: 800px;
    padding: 0px 50px 0px 50px;
  }

  input {
    width: 300px;
  }
}

@media (max-width: 750px) {
  .main-content {
    max-width: 600px;
    padding: 0px 30px 0px 30px;
  }

  button {
    border-radius: 30px;
    font-size: 18pt;
    padding: 10px 25px;
  }

  input {
    font-size: 11pt;
    width: 250px;
  }
}

@media (max-width: 500px) {
  .main-content {
    max-width: 350px;
    padding: 0px 30px 0px 30px;
  }

  .header-img {
    height: 350px;
  }

  .top-section {
    height: 350px;
    padding: 60px 30px 0px 30px;
  }

  button {
    border-radius: 30px;
    font-size: 15pt;
    padding: 8px 20px;
  }
}

@media (max-width: 380px) {
  .main-content {
    max-width: 250px;
    padding: 0px 15px 0px 15px;
  }

  input {
    font-size: 10pt;
    width: 170px;
  }
}
